.wrapper {
    margin-bottom: 3%;
    background-color: #2699FB;
    border: 1px solid #F0F0F0;
    opacity: 1;
}

.logo {
    height: auto;
    width: 20%;
}

.textWrapper {
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    opacity: 1;
    color: white;
}

